/* Reset */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
h1 {
	font-weight: inherit;
	font-size: inherit;
	overflow-wrap: break-word;
}

:root {
	--Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
	--Desaturated-Dark-Blue: hsl(214, 17%, 51%);
	--Grayish-Blue: hsl(212, 23%, 69%);
	--Light-Grayish-Blue: hsl(210, 46%, 95%);
	--White: hsl(0, 0%, 100%);
}


body {
	font-size: 13px;
	font-weight: 500;
	background-color: var(--Light-Grayish-Blue);
	
	font-family: "Manrope", sans-serif;
	background-color: hsl(210, 46%, 95%);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}


.card {
	background-color: var(--White);
  	display: grid;
  	max-width: 700px;
  	width: 90%;
  	border-radius: 10px;
  	margin: 2em auto auto auto;
  	box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.1);
}
.card__image {
	border-radius: inherit;
	border-top-left-radius: inherit;
	border-bottom-left-radius: inherit;
	object-fit: cover;
	width: 100%;
	height: 100%;
}
@media (max-width: 1445px) {
	.card__image img {
	  	border-top-right-radius: inherit;
	  	border-bottom-left-radius: 0;
		object-fit: cover;
	  	width: 100%;
	  	height: 100%;
	}
}

.card__content {
	color: var(--Desaturated-Dark-Blue);
	padding: 3em 2.125em 1.5em;
}
.card__content-title {
	color: var(--Very-Dark-Grayish-Blue);
  	font-size: 1.3rem;
	font-weight: 700;
  	margin-bottom: 1em;
}

.card__publisher {
	display: flex;
	justify-content: space-between;
  	align-items: center;
  	position: relative;
  	padding-top: 2em;
  	column-gap: 20px;
}
.card__publisher-info {
	display: flex;
	align-items: center;
	gap: 13px;
}
.card__article-publisher-avatar{
	height: 45px;
  	width: 45px;
   object-fit: cover;
  	border-radius: 50%;
}
.card__article-publisher-details {
	display: flex;
  	flex-direction: column;
  	flex-grow: 1;
}
.card__article-publisher-name {
	font-weight: 700;
	color: var(--Very-Dark-Grayish-Blue);
}

.card__article-share-icon {
	width: 30px;
 	height: 30px;
	border-radius: 50%;
  	background: hsl(210, 46%, 95%);
  	border: none;
  	position: relative;
  	z-index: 200;
}
.card__article-share-icon img {
	margin: 0 auto;
}
.card__article-share-icon:hover {
	cursor: pointer;
	background: hsl(214, 17%, 51%);
}
.card__article-share-icon:hover img {
	filter: brightness(0) saturate(100%) invert(97%) sepia(3%) saturate(1567%) hue-rotate(181deg) brightness(101%) contrast(94%);
}

.share-menu {
	display: flex;
	background: hsl(217, 19%, 35%);
	position: absolute;
	bottom: -1.5em;
	right: -2.125em;
	width: calc(100% + 4.25em);
	padding: 2em 2.125em;
	z-index: 20;
}
 
@media (max-width: 1445px) {
	.share-menu {
	  border-radius: 0 0 10px 10px;
	}
}
.social-media-icon {
	margin-left: 1em;
}
 
.share {
	text-transform: uppercase;
	color: hsl(212, 23%, 69%);
	letter-spacing: 0.3rem;
	font-size: 0.9rem;
}
 
@media (min-width: 1440px) {
	.card {
	  	grid-template-columns: auto auto;
	}
	.card__content {
		color: hsl(214, 17%, 51%);
		padding: 2em;
	}
	.share-menu {
		width: max-content;
		border-radius: 10px;
		bottom: 60px;
		right: 0;
		padding: 1em 2.5em;
		z-index: 10;
		transform-origin: center;
		translate: calc(50% - 15px);
	}
	.share-menu::before {
	  	content: "";
	  	display: inline-block;
	  	background: inherit;
		height: 15px;
		width: 15px;
		position: absolute;
		rotate: 45deg;
		left: 50%;
		top: 80%;
		translate: -50%;
	}
}